
footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}
footer p{
    margin: 0;
    text-align: right;
    color: #fff;
    line-height: 5rem;
    font-size: 1.4rem;
    margin-right: 1.5rem;
    /* color: yellow */
}
footer p a{
    text-decoration: none;
    color: rgb(53, 140, 199);

}
footer p a:hover{
    text-decoration: underline;
    color: rgb(99, 176, 228);

}